body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(197, 174, 179);
}
#principal{
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(180, 132, 132);
    border-radius: 5px;
}
#tipoVeiculo, #marca, #modelo, #ano{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
}

#finalmente{
    
    margin-top: 30px;
}
h2{
    font-size: 19px;
    text-align: center;
}
p{
    font-size: 17px;
    text-align: center;
    color: rgb(83, 73, 73);
}